.details{
    margin: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}
.firstItem{
    margin-top: 0px;
}
.col{
    width: 400px;
    margin: 0 15px;
}
.image{
    border-radius: 10px;
    width: 300px;
    margin: 0 15px;
    height: auto;
}